<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-6 col-md-4">
        <main class="form-signin">
          <form [formGroup]="registerForm">
            <div class="text-center mb-4">
              <img class="mb-4" src="/assets/images/light-bulb.jpg" alt="" width="350" height="350">
              <h1 class="h3 mb-3 fw-normal">Create new account</h1>
            </div>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingFirstname" placeholder="firstname" formControlName="firstname">
              <label for="floatingFirstname">Firstname</label>
              <div *ngIf="registerForm.controls['firstname'].invalid && (registerForm.controls['firstname'].dirty || registerForm.controls['firstname'].touched)">
                <small class="form-text text-danger">Firstname is required.</small>
              </div>
            </div>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingLastname" placeholder="lastname" formControlName="lastname">
              <label for="floatingLastname">Lastname</label>
              <div *ngIf="registerForm.controls['lastname'].invalid && (registerForm.controls['lastname'].dirty || registerForm.controls['lastname'].touched)">
                <small class="form-text text-danger">Lastname is required.</small>
              </div>
            </div>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingEmail" placeholder="email" formControlName="email">
              <label for="floatingEmail">Email</label>
              <div *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)">
                <small class="form-text text-danger">Email is required.</small>
              </div>
            </div>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingUsername" placeholder="username" formControlName="username">
              <label for="floatingUsername">Username</label>
              <div *ngIf="registerForm.controls['username'].invalid && (registerForm.controls['username'].dirty || registerForm.controls['username'].touched)">
                <small class="form-text text-danger">Username is required.</small>
              </div>
            </div>

            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password">
              <label for="floatingPassword">Password</label>
              <div *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)">
                <small class="form-text text-danger">Password is required.</small>
              </div>
            </div>

            <div>
              <button class="w-100 btn btn-lg btn-success" (click)="registerNow()" [disabled]="registerForm.invalid">Register Now</button>
            </div>
          </form>

        </main>
      </div>
    </div>
  </div>
</body>

<app-footer></app-footer>
